.classpath
.project
.gradle
build
erma.iml
erma-api/bin
erma-api/build
erma-api/gradle
erma-api/gradlew
erma-api/gradlew.bat
erma-lib/bin
erma-lib/build
erma-lib/gradlew.bat
erma-lib/gradlew
erma-lib/gradle
erma-ext/erma-mongo-processor/bin
erma-ext/erma-mongo-processor/build
erma-ext/erma-mongo-processor/gradle
erma-ext/erma-mongo-processor/gradlew
erma-ext/erma-mongo-processor/gradlew.bat
idebuild
